<div class="border min-h-[300px] w-full">

  <a href="{{ product.url }}">
    <img
      src="{{ product.featured_image | img_url: '300x300' }}"
      alt="{{ product.title }}"
      class="w-full h-[300px] object-cover" />
  </a>


  <div class="p-4 flex items-center justify-between">
    <a class="font-bold text-zinc-500 hover:text-zinc-600 transition-all " href="{{ product.url }}">
      {{ product.title }}
    </a>

    <p class="text-sm text-zinc-500">
      {{ product.price | money }}
    </p>
  </div>
</div>